/* ==========================================================================
   #INPUTS
   ========================================================================== */

/**
 * All types of user inputs, you'd find inside a form tag.
 * This does not address the form tag itself, labels, or buttons.
 *
 * By default, inputs are 1 1/2 lines; with 1/4 margin top and bottom.
 *
 */


 /* Text Field and Textarea
    ========================================================================== */

/**
 * 1. Grow from baseline of the grid
 * 2. Replace border (adds to vertical height), with inset box-shadow.
 * Extending utility will effect source order.
 * 3. Textareas are double the height of text inputs, by default.
 */

.c-input-text,
.c-input-textarea,
.c-input-select {
  vertical-align: bottom; /* [1] */
  border: none; /* [2] */
  @extend .u-bordered; /* [2] */
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small;
}

.c-input-text {
  height: $inuit-global-line-height + $inuit-global-spacing-unit-small;
  margin-top: $inuit-global-spacing-unit-tiny;
  margin-bottom: $inuit-global-spacing-unit-tiny;
}

.c-input-textarea {
  height: ($inuit-global-line-height * 3); /* [3] */
}



/* Options: Check and Radio
   ========================================================================== */

.c-input-check,
.c-input-radio {
  margin-right: $inuit-global-spacing-unit-tiny;
}

.c-input-check {}

.c-input-radio {}



/* Select
   ========================================================================== */

/**
 * 1. Design assumption; selects should have white backgrounds
 */

.c-input-select {
  width: 100%;
  height: $inuit-global-line-height + $inuit-global-spacing-unit-small;
  margin-top: $inuit-global-spacing-unit-tiny;
  margin-bottom: $inuit-global-spacing-unit-tiny;
  background: $global-colour-background; /* [1] */
}
