///* ========================================================================
//   #CONFIG
//   ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.


$inuit-config: (
  debug: true
);

// You can access data in this map using the following function:
//
// inuit-config( <key> )
//
// Example usage:
//
// @if (inuit-config( debug ) == true) { ...  }

@function inuit-config( $key ) {
  @return map-get( $inuit-config, $key );
}



/* Base, Grid, and Responsive settings
   ========================================================================== */

/**
 * 1. NOTE: this is also used for the vertical spacing helpers, this value gets
 * passed to $inuit-global-spacing-unit.
 * 2. Repeat from framework; re-map spacer unit to font-size. Shouldn't need,
 * but kinda do, because ordering. (repeat from: _utilities.spacing.scss)
 */


// Layout settings.
$inuit-wrapper-width: 1200px;

// Base settings/
$inuit-global-font-size:    16px;
$inuit-global-line-height:  32px; /* [1] */

$inuit-global-spacing-unit: $inuit-global-line-height; /* [2] */

$inuit-global-spacing-unit-tiny:  round( $inuit-global-spacing-unit * $inuit-global-spacing-unit-factor-tiny ); /* [2] */
$inuit-global-spacing-unit-small: round( $inuit-global-spacing-unit * $inuit-global-spacing-unit-factor-small ); /* [2] */
$inuit-global-spacing-unit-large: round( $inuit-global-spacing-unit * $inuit-global-spacing-unit-factor-large ); /* [2] */
$inuit-global-spacing-unit-huge:  round( $inuit-global-spacing-unit * $inuit-global-spacing-unit-factor-huge ); /* [2] */

// Tell framework to generate ".u-pull-x/x" classes, for use with "u-width-x/x".
$inuit-offsets: true;

// Number of fractions to create width utilities from.
// 1/1 1/2 1/3 ...
$inuit-fractions: 1 2 3 4 5 6 7 8 9 10 11 12;

// Responsive settings.
// NOTE: Whole framework is mobile first. "[M]obile" is that size and up.
$mq-breakpoints: (
  'mobile':    320px,
  'tablet':    640px,
  'desktop':   980px,
  'wide':      $inuit-wrapper-width
);



/* Shorthand Helpers
   ========================================================================== */


// File path helpers.
$global-image-path:  '../images/';
$global-font-path:   '../fonts/';
