/* ==========================================================================
   #BORDERS
   ========================================================================== */

/**
 * Border helper, add a border to an element. Uses a inset box-shadow as not
 * to mess with vertical rhythm.
 */

.u-bordered {
  box-shadow: inset 0 0 0 $global-size-outline $global-colour-outline;
}


 /**
  * Border radius helper; unify all border radius variations.
  */

.u-br { border-radius: $global-size-radius; }



/* Style variants
   ========================================================================== */

/**
* Loops each of our site colours, and creates modifier classes for our
* ".u-bordered" helper - using the array keys from $global-colours.
*
* Example:
* <div class="u-bordered-primary">Primary colour border</div>
*
*/

@each $colour in $global-colours {

  .u-bordered-#{ nth( $colour, 1 ) } {
    box-shadow: inset 0 0 0 $global-size-outline #{ nth( $colour, 2 ) };
  }

}


/* Position variants
  ========================================================================== */

/**
*
* Example:
* <div class="u-bordered-bottom">Bottom border</div>
* <div class="u-bordered-left">Bottom left</div>
*
*/

.u-bordered-top {
  box-shadow: inset 0 $global-size-outline 0 0 $global-colour-outline;
}

.u-bordered-right {
  box-shadow: inset #{ -( $global-size-outline ) } 0 0 0 $global-colour-outline;
}

.u-bordered-bottom {
  box-shadow: inset 0 #{ -( $global-size-outline ) } 0 0 $global-colour-outline;
}

.u-bordered-left {
  box-shadow: inset $global-size-outline 0 0 0 $global-colour-outline;
}
