/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

 /**
  * Small single responsibility classes, to modify/extend text elements.
  */



/* Alignments
   ========================================================================== */

.u-text-left {
  text-align: left !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-justify {
  text-align: justify !important;
}


/**
 * Make same text alignment helpers available responsively.
 *
 * .u-text-left@mobile
 * .u-text-justify@tablet
 */

@if ( variable-exists( mq-breakpoints ) ) {

  @each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {

    @include mq( $from: $inuit-bp-name ) {

      .u-text-left#{ $inuit-widths-breakpoint-separator }#{ $inuit-bp-name } {
        text-align: left !important;
      }

      .u-text-center#{ $inuit-widths-breakpoint-separator }#{ $inuit-bp-name } {
        text-align: center !important;
      }

      .u-text-right#{ $inuit-widths-breakpoint-separator }#{ $inuit-bp-name } {
        text-align: right !important;
      }

      .u-text-justify#{ $inuit-widths-breakpoint-separator }#{ $inuit-bp-name } {
        text-align: justify !important;
      }

    }

  }

}



/* Weight Variations
   ========================================================================== */

.u-weight-bold {
  font-weight: 800 !important;
}

.u-weight-normal {
  font-weight: 300 !important;
}

.u-weight-light {
  font-weight: 100 !important;
}



/* Text Links
   ========================================================================== */

/**
 * 1. Remove underline by default.
 * 2. To make non-a-tag links, to look like a-tag-links.
 */

.u-link {
  text-decoration: none; /* [1] */
  color: $global-colour-copy-links;
  cursor: pointer; /* [2] */

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:focus,
  &:visited {
    color: $global-colour-copy-links;
  }
}

@each $colour in $global-colours {

  .u-link--#{ nth( $colour, 1 ) } {
    color: #{ nth( $colour, 2 ) };

    &:active,
    &:focus,
    &:visited {
      color: #{ nth( $colour, 2 ) };
    }
  }

}


.u-link--underline {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}



/* Text Block Adjustments
   ========================================================================== */

/**
 * 1. Single line text truncate. About:
 *    https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
 * 2. Make sure we're working with a block element.
 */

.u-truncate { /* [1] */
	display: block; /* [2] */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.u-word-break {
	word-break: break-all;
}
